In [1]:
!python -m pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
WARNING: pymongo 4.15.5 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 8.4 MB/s eta 0:00:00
Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 40.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.5

In [ ]:
from pymongo import MongoClient
from pprint import pprint
from collections import defaultdict

# =========================
# 1️⃣ Connect to MongoDB Atlas
# =========================
uri = "" # replace with you connection do not play on this data
client = MongoClient(uri)
db = client["company_db"]

departments_col = db["departments"]
employees_col = db["employees"]
projects_col = db["projects"]

# =========================
# 2️⃣ Clean old data
# =========================
departments_col.delete_many({})
employees_col.delete_many({})
projects_col.delete_many({})

# =========================
# 3️⃣ Insert Departments
# =========================
data_dept = departments_col.insert_one({"name": "Data"})
hr_dept = departments_col.insert_one({"name": "HR"})
fin_dept = departments_col.insert_one({"name": "Finance"})

# =========================
# 4️⃣ Insert Employees
# =========================
ahmed_emp = employees_col.insert_one({
    "name": "Ahmed",
    "age": 26,
    "department_id": data_dept.inserted_id
})
sara_emp = employees_col.insert_one({
    "name": "Sara",
    "age": 24,
    "department_id": hr_dept.inserted_id
})
mohamed_emp = employees_col.insert_one({
    "name": "Mohamed",
    "age": 30,
    "department_id": fin_dept.inserted_id
})

# =========================
# 5️⃣ Insert Projects
# =========================
projects_col.insert_many([
    {"title": "AI System", "employee_id": ahmed_emp.inserted_id},
    {"title": "HR Portal", "employee_id": sara_emp.inserted_id},
    {"title": "Finance Dashboard", "employee_id": mohamed_emp.inserted_id}
])

# =========================
# 6️⃣ Helper Function: Show Projects with Relations
# =========================
def show_projects_with_relations():
    projects = list(projects_col.find())
    print("\n--- Projects with Employee & Department ---")
    for p in projects:
        emp = employees_col.find_one({"_id": p["employee_id"]})
        dept = departments_col.find_one({"_id": emp["department_id"]})
        pprint({
            "project": p["title"],
            "employee": emp["name"],
            "department": dept["name"]
        })

# =========================
# 7️⃣ 15 Exercises (Manual Relations)
# =========================
exercises = [
    "1. Print all employees",
    "2. Print all departments",
    "3. Print all projects",
    "4. Update Ahmed's age to 27",
    "5. Delete Finance department",
    "6. Find projects by employee Ahmed",
    "7. Count how many employees in each department",
    "8. Add a new project for Sara",
    "9. Rename department 'HR' to 'Human Resources'",
    "10. Add a new employee in Data department",
    "11. Delete a project by title 'HR Portal'",
    "12. Increase age of all employees by 1",
    "13. Show projects with employee & department info",
    "14. Find all employees in 'Data' department",
    "15. Count projects per employee"
]

print("\n--- 15 Exercises ---")
for e in exercises:
    print(e)

--- 15 Exercises ---
1. Print all employees
2. Print all departments
3. Print all projects
4. Update Ahmed's age to 27
5. Delete Finance department
6. Find projects by employee Ahmed
7. Count how many employees in each department
8. Add a new project for Sara
9. Rename department 'HR' to 'Human Resources'
10. Add a new employee in Data department
11. Delete a project by title 'HR Portal'
12. Increase age of all employees by 1
13. Show projects with employee & department info
14. Find all employees in 'Data' department
15. Count projects per employee

In [9]:
print("\n" + "="*60)
print("EXERCISE 1: Print all employees")
print("="*60)
for emp in employees_col.find():
    pprint(emp)

============================================================
EXERCISE 1: Print all employees
============================================================
{'_id': ObjectId('6956a02c082f8a013f6d271b'),
 'age': 26,
 'department_id': ObjectId('6956a02b082f8a013f6d2718'),
 'name': 'Ahmed'}
{'_id': ObjectId('6956a02c082f8a013f6d271c'),
 'age': 24,
 'department_id': ObjectId('6956a02b082f8a013f6d2719'),
 'name': 'Sara'}
{'_id': ObjectId('6956a02c082f8a013f6d271d'),
 'age': 30,
 'department_id': ObjectId('6956a02b082f8a013f6d271a'),
 'name': 'Mohamed'}

In [10]:
print("\n" + "="*60)
print("EXERCISE 2: Print all departments")
print("="*60)
for dept in departments_col.find():
    pprint(dept)

============================================================
EXERCISE 2: Print all departments
============================================================
{'_id': ObjectId('6956a02b082f8a013f6d2718'), 'name': 'Data'}
{'_id': ObjectId('6956a02b082f8a013f6d2719'), 'name': 'HR'}
{'_id': ObjectId('6956a02b082f8a013f6d271a'), 'name': 'Finance'}

In [11]:
print("\n" + "="*60)
print("EXERCISE 3: Print all projects")
print("="*60)
for proj in projects_col.find():
    pprint(proj)

============================================================
EXERCISE 3: Print all projects
============================================================
{'_id': ObjectId('6956a02c082f8a013f6d271e'),
 'employee_id': ObjectId('6956a02c082f8a013f6d271b'),
 'title': 'AI System'}
{'_id': ObjectId('6956a02c082f8a013f6d271f'),
 'employee_id': ObjectId('6956a02c082f8a013f6d271c'),
 'title': 'HR Portal'}
{'_id': ObjectId('6956a02c082f8a013f6d2720'),
 'employee_id': ObjectId('6956a02c082f8a013f6d271d'),
 'title': 'Finance Dashboard'}

In [12]:
print("\n" + "="*60)
print("EXERCISE 4: Update Ahmed's age to 27")
print("="*60)
result = employees_col.update_one(
    {"name": "Ahmed"},
    {"$set": {"age": 27}}
)
print(f"Modified count: {result.modified_count}")
ahmed = employees_col.find_one({"name": "Ahmed"})
print(f"Ahmed's new age: {ahmed['age']}")

============================================================
EXERCISE 4: Update Ahmed's age to 27
============================================================
Modified count: 1
Ahmed's new age: 27

In [13]:
print("\n" + "="*60)
print("EXERCISE 5: Delete Finance department")
print("="*60)
fin_dept_doc = departments_col.find_one({"name": "Finance"})
if fin_dept_doc:
    # First, handle employees in this department (optional: reassign or delete)
    employees_col.update_many(
        {"department_id": fin_dept_doc["_id"]},
        {"$unset": {"department_id": ""}}
    )
    result = departments_col.delete_one({"name": "Finance"})
    print(f"Deleted count: {result.deleted_count}")

============================================================
EXERCISE 5: Delete Finance department
============================================================
Deleted count: 1

In [14]:
print("\n" + "="*60)
print("EXERCISE 6: Find projects by employee Ahmed")
print("="*60)
ahmed = employees_col.find_one({"name": "Ahmed"})
if ahmed:
    projects = list(projects_col.find({"employee_id": ahmed["_id"]}))
    for proj in projects:
        pprint(proj)

============================================================
EXERCISE 6: Find projects by employee Ahmed
============================================================
{'_id': ObjectId('6956a02c082f8a013f6d271e'),
 'employee_id': ObjectId('6956a02c082f8a013f6d271b'),
 'title': 'AI System'}

In [15]:

print("\n" + "="*60)
print("EXERCISE 7: Count how many employees in each department")
print("="*60)
dept_counts = defaultdict(int)
for emp in employees_col.find():
    if "department_id" in emp:
        dept = departments_col.find_one({"_id": emp["department_id"]})
        if dept:
            dept_counts[dept["name"]] += 1
for dept_name, count in dept_counts.items():
    print(f"{dept_name}: {count} employees")

============================================================
EXERCISE 7: Count how many employees in each department
============================================================
Data: 1 employees
HR: 1 employees

In [16]:
print("\n" + "="*60)
print("EXERCISE 8: Add a new project for Sara")
print("="*60)
sara = employees_col.find_one({"name": "Sara"})
if sara:
    new_project = projects_col.insert_one({
        "title": "Recruitment System",
        "employee_id": sara["_id"]
    })
    print(f"Inserted project ID: {new_project.inserted_id}")

============================================================
EXERCISE 8: Add a new project for Sara
============================================================
Inserted project ID: 6956a06a082f8a013f6d2721

In [17]:
print("\n" + "="*60)
print("EXERCISE 9: Rename department 'HR' to 'Human Resources'")
print("="*60)
result = departments_col.update_one(
    {"name": "HR"},
    {"$set": {"name": "Human Resources"}}
)
print(f"Modified count: {result.modified_count}")

============================================================
EXERCISE 9: Rename department 'HR' to 'Human Resources'
============================================================
Modified count: 1

In [18]:

print("\n" + "="*60)
print("EXERCISE 10: Add a new employee in Data department")
print("="*60)
data_dept_doc = departments_col.find_one({"name": "Data"})
if data_dept_doc:
    new_emp = employees_col.insert_one({
        "name": "Fatma",
        "age": 28,
        "department_id": data_dept_doc["_id"]
    })
    print(f"Inserted employee ID: {new_emp.inserted_id}")

============================================================
EXERCISE 10: Add a new employee in Data department
============================================================
Inserted employee ID: 6956a086082f8a013f6d2722

In [19]:
print("\n" + "="*60)
print("EXERCISE 11: Delete a project by title 'HR Portal'")
print("="*60)
result = projects_col.delete_one({"title": "HR Portal"})
print(f"Deleted count: {result.deleted_count}")

print("\n" + "="*60)
print("EXERCISE 12: Increase age of all employees by 1")
print("="*60)
result = employees_col.update_many(
    {},
    {"$inc": {"age": 1}}
)
print(f"Modified count: {result.modified_count}")
print("Updated ages:")
for emp in employees_col.find():
    print(f"{emp['name']}: {emp['age']}")

============================================================
EXERCISE 11: Delete a project by title 'HR Portal'
============================================================
Deleted count: 1

============================================================
EXERCISE 12: Increase age of all employees by 1
============================================================
Modified count: 4
Updated ages:
Ahmed: 28
Sara: 25
Mohamed: 31
Fatma: 29

In [20]:
print("\n" + "="*60)
print("EXERCISE 13: Show projects with employee & department info")
print("="*60)
show_projects_with_relations()

print("\n" + "="*60)
print("EXERCISE 14: Find all employees in 'Data' department")
print("="*60)
data_dept_doc = departments_col.find_one({"name": "Data"})
if data_dept_doc:
    employees = list(employees_col.find({"department_id": data_dept_doc["_id"]}))
    for emp in employees:
        pprint(emp)

============================================================
EXERCISE 13: Show projects with employee & department info
============================================================

--- Projects with Employee & Department ---
{'department': 'Data', 'employee': 'Ahmed', 'project': 'AI System'}

KeyError: 'department_id'

In [21]:
print("\n" + "="*60)
print("EXERCISE 15: Count projects per employee")
print("="*60)
project_counts = defaultdict(int)
for proj in projects_col.find():
    emp = employees_col.find_one({"_id": proj["employee_id"]})
    if emp:
        project_counts[emp["name"]] += 1
for emp_name, count in project_counts.items():
    print(f"{emp_name}: {count} projects")

print("\n" + "="*60)
print("ALL EXERCISES COMPLETED!")
print("="*60)

============================================================
EXERCISE 15: Count projects per employee
============================================================
Ahmed: 1 projects
Mohamed: 1 projects
Sara: 1 projects

============================================================
ALL EXERCISES COMPLETED!
============================================================